.headerBar ion-grid,
.headerBar ion-row,
.headerBar ion-col {
  height: 100%;
}
.headerBar {
  color: #fff;
  background-color: #677089;
  height: 50px;
}
.colRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn {
  color: #fff;
  justify-content: flex-start;
}

/* .ion-color.sc-ion-searchbar-md-h, */
.ion-color.sc-ion-searchbar-ios-h {
  background-color: white;
  height: 40px;
}
