.toolbar.btn{
    display: flex;
    flex-direction: column;
}
.toolbar-container{
    width:100%;
}
.display-block{
    display: block;
}
.com-detail-link{
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

}