.projectCard{
    padding: 10px;
  }
  
  .projectImg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .projectContent{
    text-align: justify;
  }

  body::-webkit-scrollbar {
    display: none;
}