.com-text-title{
    font-weight: bold;
}

.com-detail-icon{
    font-size: 20px;
    margin: 2px;
}

.com-detail-link{
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}