.projectCard{
  padding: 10px;
}
.underLine{
  border-bottom: 1px solid #000;
}
.project-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.project-image .image{
  margin-top: 25px;
}
.projectContent{
  text-align: justify;
}