.project-card ion-img{
    height:170px;
}

.project-card ion-thumbnail{
    display: flex;
    
}

.display-flex{
    display:flex;
}
.button-bar-container{
    width:100%;
    display: flex;
    justify-content: center;
}
.button-bar-container ion-button{
    background-color: var(--ion-color-primary-shade);
    border-radius: 8px;
    color: #FFF;
}

.button-bar-container ion-button:nth-child(1){
    background-color: var(--ion-color-danger);
    border-radius: 8px;
    color: #FFF;
}
ion-header{
    padding-bottom: 0;
}























.content{
    background-color: #FFF;
    height: 100%;;
}
.ideasPic-Container{
    width:100%;
    height:190px;
    background-color:var(--client-theme-color);
    text-align: center;
}
.date-Container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100px;
    

}

.eventIntro-Container{
    width:100%;
    height:100px;
    padding: 0;
}
.idea-id{
    height:30px;
}
.idea-name{
}
.idea-intro{

    height:60px;
}
.btn-Bar{
    height:70px;
    background-color: var(--client-theme-color);
}

.grid-Container div{
    color: #000;
    font-size: 18px;
}
.light-grey{
    color: var(--client-theme-color)!important;
}

.font-size-smaller{
    font-size: 13px !important;
}
hr{
    border-width: 0.3px!important;
    margin: 0;
}
.event-details{
    padding: 0 5px;
}
.event-details h5{
    margin: 0;
    margin-bottom: 20px;
    font-size: 15px;
    color: #000;
    text-decoration:underline;
}
.event-details p{
    font-size: 15px;
    color: #000;
    text-align:start;
    padding: 0;
    margin-bottom: 7px;
}
.toggle-container{
    height:40px;
}
.toggle-container div{
    font-size: 11px;
    color: var(--client-theme-color);
}
.question-container{
    padding: 4px 5px;
    border-color: var(--client-background-color);
    border-width: 18px 0;
    border-style:solid;
}
.question-container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--client-theme-color);
    border:solid 1px var(--client-background-color);
    border-radius: 5px;
}
.question-container button{
    font-size: 15px;
    width:80px;
    border-radius: 5px;
}