.login-container{
    --ion-background-color: #F0F1F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-scroll {
    display: flex;
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
    flex-direction: column;
    justify-content: center;
}
.login-container ion-text{
    color: var(--theme-grey);
    padding: 0 10px;
    margin: 0;
    font-size: 12px;
}
.login-container ion-img{
    margin-top: 90px;
}
.login-container ion-button{
    width:100%;
}
.login-container ion-input{
    background-color: #FFF;
}
.loginPage-Container{
    padding-top: 90px;
}
