
.icon-container ion-avatar{
    height:120px;
    width:120px;
}


.icon-container ion-label{
    font-size: 24px!important;
}

.profile_detail_container ion-segment{
    height:40px;
}
ion-badge{
    margin-right:5px;
}
.icon-container ion-label{
    position: absolute;
    right:10px;
    bottom: 5px;

}
.detail-box{
    width:100%;
}
.profile_detail_container .projects-title{
    width:100%;
}
.margin-bottom-5px{
    margin-bottom: 5px;
}